{% extends "base.html" %}

{% block title %}Your dictionary{% endblock %}

{% block content %}
<div class="container mb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home:index' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Your dictionary</li>
        </ol>
    </nav>
    
    <h2 class="mb-3">Your recent languages</h2>
    <div class="list-group">
        {% for language in languages %}
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <p class="mb-0 align-self-center"><b>{{ language.language_name }}</b></p>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'dictionary:language_detail' language.id %}" class="btn btn-primary">See</a>
                    <a href="{% url 'dictionary:edit_language' language.id %}" class="btn btn-primary">Edit</a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteLanguageModal{{forloop.counter}}">
                        Delete
                    </button>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="deleteLanguageModal{{forloop.counter}}" tabindex="-1" data-bs-backdrop="static" aria-labelledby="deleteLanguageModal{{forloop.counter}}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteLanguageModal{{forloop.counter}}">Are you sure you want to delete the {{ language.language_name }} language?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
    
                        <div class="modal-body">
                            This action will permanently delete all words, translations and hints associated with the language! This action is irreversible!
                        </div>
    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                            <a href="{% url 'dictionary:delete_language' language.id %}" class="btn btn-danger">Delete</a>
                        </div>
                  </div>
                </div>
            </div>
        </li>

        {% endfor %}
        <li class="list-group-item mb-3">
            <div class="d-flex justify-content-center">
                <a href="{% url 'dictionary:add_language' %}" class="text-success text-decoration-none"><i class="bi bi-plus"></i> Add new</a>
            </div>
        </li>
    </div>
    <div class="d-flex justify-content-center">
        <a href="{% url 'dictionary:languages_list' %}" class="btn btn-outline-primary text-decoration-none w-100">See all</a>
    </div>

    <hr class="border border-dark border-1 opacity-75">

    <h2 class="mb-3">Your recent words</h2>
    <div class="list-group">
        {% for word in recent_words %}
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <p class="mb-0 align-self-center"><b>{{ word.word|title }} ({{ word.translations.first.translation }})</b></p>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'dictionary:word_detail' word.id %}" class="btn btn-primary">See</a>
                    <a href="{% url 'dictionary:edit_word' word.id %}" class="btn btn-primary">Edit</a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteWordModal{{forloop.counter}}">
                        Delete
                    </button>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="deleteWordModal{{forloop.counter}}" tabindex="-1" data-bs-backdrop="static" aria-labelledby="deleteWordModal{{forloop.counter}}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteWordModal{{forloop.counter}}">Are you sure you want to delete the word {{ word.word }}?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
    
                        <div class="modal-body">
                            This action will permanently delete the word and all associated translations and hints! This action is irreversible!
                        </div>
    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                            <a href="{% url 'dictionary:delete_word' word.id %}" class="btn btn-danger">Delete</a>
                        </div>
                  </div>
                </div>
            </div>
        </li>

        {% endfor %}
        <li class="list-group-item mb-3">
            <div class="d-flex justify-content-center">
                <a href="{% url 'dictionary:add_word' %}" class="text-success text-decoration-none"><i class="bi bi-plus"></i> Add new</a>
            </div>
        </li>
    </div>
    <div class="d-flex justify-content-center">
        <a href="{% url 'dictionary:words_list' %}" class="btn btn-outline-primary text-decoration-none w-100">See all</a>
    </div>
</div>
{% endblock %}